body {
    background-color: #ffe2b0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}
.logo {
    width: 180px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}
a {
    color: black;
    text-decoration: none;
}

nav {
    margin-bottom: 20px;
}

a:hover {
    color: rgb(204, 24, 54);
    font-size: 20px;
}

li:last-child {
    margin-right: 0px;
}